.news-bar-container {
    overflow: hidden;
    background-color: #f9f9f9;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.news-bar {
    display: flex;
    white-space: nowrap;
}

.news-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    animation: scroll 45s linear infinite;
}

.news-bar ul li {
    display: inline;
    margin-right: 30px;
}

.news-bar ul li a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.news-bar ul li a:hover {
    text-decoration: underline;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}