/* تنسيقات أساسية للموقع */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #008000; /* لون النص باللون الأخضر */
    background-color: #ffffff; /* لون الخلفية باللون الأبيض */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #008000; /* خلفية العنوان باللون الأخضر */
    color: #ffffff; /* لون النص باللون الأبيض */
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ffffff 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header h1 {
    float: left;
}

nav {
    float: right;
    margin-top: 10px;
}

.section {
    padding: 20px 0;
    border-bottom: #008000 1px solid;
}

.section h2 {
    color: #008000; /* لون عناوين الأقسام باللون الأخضر */
}

footer {
    background: #008000; /* خلفية التذييل باللون الأخضر */
    color: #ffffff; /* لون النص باللون الأبيض */
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}